  #demo { 
    border: 1px dashed #ccc;
    height: 400px;
  }
  div.line {
    background: #948C79; /* Black fill */
    opacity: 0.5;
    box-shadow: 0 0 8px #B99B7E;
  }
  
  div.line:hover{
    background: #C30;
    box-shadow: 0 0 8px #C30;
    opacity: 1;
  }
  
  div.line.active{
    background: #666;
    box-shadow: 0 0 8px #666;
    opacity: 1;
  }