div.line{         
    height: 5px; /* Line width of 3 */
}
/*
 * @see: https://developer.mozilla.org/en-US/docs/Web/CSS/transform-origin?v=control
 */
div.line.center-rotate {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
div.line.start-rotate {
    -webkit-transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
    transform-origin: 0 50%;
}
div.line.end-rotate {
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

div.line.animate-rotate {
    /* For some nice animation on the rotates: */
    -webkit-transition: -webkit-transform 1s;
    -moz-transition:    -moz-transform 1s;
    transition:         transform 1s;
}